<div class="container">
  <form (ngSubmit)="onSubmit()" #OrderForm="ngForm" action="get">
    <div class="form-row">
      <div class="form-group col-sm-2">
        <label for="orderId">Enter order id:</label>
        <input type="text" class="form-control" id="orderId" [(ngModel)]="searchId">
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>
  <div *ngIf="order">
    <h4>Order Number: {{order.id}}</h4>
      <ul>
        <li>{{order.name}}</li>
        <li>{{order.email}}</li>
      </ul>
  </div>
</div>
