<h3 class="text-center mb-2">Your Shopping Cart</h3>

<div class="card mt-2" *ngFor="let cartItem of cart.items">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <!--<span>
        <img src="{{cartItem.item.url}}" style="height: 100px">
      </span>-->
      <span>
        <div class="d-flex flex-column">
          <div class="p-2">{{cartItem.item.name}}</div>
          <div class="p-2">{{cartItem.item.description}}</div>
        </div>
      </span>
      <span>
        <div class="d-flex flex-column">
          <div class="p-2">${{cartItem.item.price}}</div>
          <div class="p-2 d-flex flex-row"><label>Quantity:</label><input type="number" min="0" disabled class="form-control form-control-sm" [(ngModel)]="cartItem.quantity"></div>
          <div class="p-2">
            <button class="btn btn-sm btn-primary mr-2" (click)="add(cartItem.item)">+</button>
            <button class="btn btn-sm btn-primary" (click)="remove(cartItem.item)">-</button>
          </div>
        </div>
      </span>
    </div>
  </div>

</div>

<div class="card mt-4">
  <div class="card-body">
    <div class="d-flex justify-content-around">
      <div class="d-flex flex-column">
        <label class="p-2">Subtotal</label>
        <label class="p-2">Shipping</label>
        <label class="p-2">Tax</label>
      </div>
      <div class="d-flex flex-column">
        <label class="p-2">${{cart.total}}</label>
        <label class="p-2">FREE</label>
        <label class="p-2">${{cart.total * 7.5 / 100}}</label>
      </div>
    </div>
    <hr class="mt-2 mb-2">
    <div class="d-flex justify-content-around">
      <div class="d-flex flex-column">
        <h4 class="p-2">Estimate Total</h4>
      </div>
      <div class="d-flex flex-column">
        <h4 class="p-2">${{cart.total + (cart.total * 7.5 / 100)}}</h4>
      </div>
    </div>
    <div class="d-flex justify-content-around">
      <div class="d-flex flex-column">
        <button class="btn btn-sm btn-outline-secondary">Continue Shopping</button>
      </div>
      <div class="d-flex flex-column">
        <button class="btn btn-sm btn-primary" routerLink="/checkout">Checkout</button>
      </div>
    </div>
  </div>
</div>
